include ./icon

mixin reviews
  -
    const reviewsList = [
      {
        avatar: 'img/reviews/avatar_1.png',
        name: '@ritamirzoian',
        rate : '',
        date: '',
        place: 'PERSONA Дубровка',
        photo: 'img/reviews/photo_1.png',
        review: 'Пришла на маникюр, а ушла ещё и с целым набором сделанных косметологических процедур. Пришла на маникюр, а ушла ещё и с целым набором сделанных косметологических процедур.'
      },
      {
        avatar: 'img/reviews/avatar_2.png',
        name: 'Екатерина С.',
        rate: 5,
        date: '13 апреля',
        place: '',
        photo: '',
        review: 'Супер профессионалы, классные мастера. Хожу регулярно, всегда советуют средства по уходу,подбирают прическу и стиль. Удобно, комфортно, все на уровне!'
      },
      {
        avatar: 'img/reviews/avatar_3.png',
        name: 'Юлия Смит',
        rate: 5,
        date: '3 апреля',
        place: '',
        photo: '',
        review: 'Екатерина Баркарова!!!! Профессионал, мастер своего дела, который просто обожает свою работу. Это собственно видно по результату стрижки. Сделала именно так, как мне хотелось и даже чуточку лучше)'
      },
      {
        avatar: 'img/reviews/avatar_4.png',
        name: '@starikovakatya',
        rate: '',
        date: '',
        place: 'PERSONA Дубровка',
        photo: 'img/reviews/photo_2.png',
        review: 'Когда едешь от косметолога довольный и абсолютно счастливый.'
      },
      {
        avatar: 'img/reviews/avatar_5.png',
        name: '@merdeeva',
        rate: '',
        date: '',
        place: 'PERSONA Дубровка',
        photo: 'img/reviews/photo_3.png',
        review: 'я не ожидала, что мне ТАК сильно понравится результат.'
      },
      {
        avatar: 'img/reviews/avatar_6.png',
        name: 'Валерия Р.',
        rate: 5,
        date: '31 марта',
        place: '',
        photo: '',
        review: 'Пользовалась их услугами на прошлой неделе - понравился персонал, все веселые, приветливые. Качество выполненной работы меня полностью устроило. Я рекомендую вам и сама приду еще не раз!'
      },
      {
        avatar: 'img/reviews/avatar_7.png',
        name: 'Валерия А.',
        rate: 5,
        date: '15 апреля',
        place: '',
        photo: '',
        review: 'Супер профессионалы, классные мастера. Хожу регулярно, всегда советуют средства по уходу, подбирают прическу и стиль. Удобно, комфортно, все на уровне!'
      },
      {
        avatar: 'img/reviews/avatar_8.png',
        name: '@dontworry198',
        rate: '',
        date: '',
        place: 'PERSONA Дубровка',
        photo: 'img/reviews/photo_4.png',
        review: 'Вот и я очень долго и упорно пытался найти ебе что-то подходящее и наконец-то нашёл.'
      }
    ]

  .reviews(id='reviews' class='js-section')
    .reviews__bg
      .content
        h2.title.title--h2 Отзывы
        ul.reviews__list
          each item in reviewsList
            li.reviews__item
              .reviews__item-wrapper
                .reviews__item-about
                  img(src=item.avatar)
                  .reviews__item-name-wrapper
                    p.reviews__item-name=item.name
                    if item.photo
                      p.reviews__item-place=item.place
                    else
                      .reviews__item-rate-wrapper
                        -
                          let star = 0
                        .reviews__item-rate
                          while star < item.rate
                            span.visually-hidden=star++
                            img.reviews__item-rate-star(src='img/star.svg')
                        p.reviews__item-date=item.date
                if item.photo
                  .reviews__item-photo
                    img(src=item.photo)
                .reviews__item-review
                  if item.photo
                    span.reviews__item-review-name=item.name
                    p.reviews__item-review-text.reviews__item-review-text--small=item.review
                  else
                    p.reviews__item-review-text=item.review



